<h1>About</h1>
<p>Vinnie Gargano is a student at DePaul University who developed this website. He's finishing his first full year at DePaul and is majoring in Information Technology. </p>
<br>
<p>He developed this website for his class, IT-231, where customers can add web development books to a shopping cart and checkout. </p>
<br>
<p>Administrators can log in to the website to edit page information and check how many orders and line-items there are.</p>
