<h1>Help</h1>
<p>Each button at the top of this screen transfers you to a specific location. To view the amount of orders a customer made, you must first login with your credentials (same goes for adjusting anything else in the store).</p>
